<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://fileshare.zgaf.io/variants/{{ id }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ variantName }}">
  <meta property="og:description" content="{{ variantDescription }}">
  <meta property="og:image" content="https://fileshare.zgaf.io/content/variants/{{ variantImage }}.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="fileshare.zgaf.io">
  <meta property="twitter:url" content="https://fileshare.zgaf.io/variants/{{ id }}">
  <meta name="twitter:title" content="{{ variantName }}">
  <meta name="twitter:description" content="{{ variantDescription }}">
  <meta name="twitter:image" content="https://fileshare.zgaf.io/content/variants/{{ variantImage }}.png">

  <meta content="#2ea043" name="theme-color">
  <title>{{ variantName }} — Dewrito Share</title>
  <script>window.location.replace('/variants/{{ id }}')</script>
</head>
<body>
  <p>Redirecting… <a href="/variants/{{ id }}">Click here if not redirected</a></p>
</body>
</html>
