<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://fileshare.zgaf.io/mods/{{ id }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ modName }}">
  <meta property="og:description" content="{{ modDescription }}">
  <meta property="og:image" content="https://fileshare.zgaf.io/mods/{{ id }}/0">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="fileshare.zgaf.io">
  <meta property="twitter:url" content="https://fileshare.zgaf.io/mods/{{ id }}">
  <meta name="twitter:title" content="{{ modName }}">
  <meta name="twitter:description" content="{{ modDescription }}">
  <meta name="twitter:image" content="https://fileshare.zgaf.io/mods/{{ id }}/0">

  <meta content="#2ea043" name="theme-color">
  <title>{{ modName }} — Dewrito Share</title>
  <script>window.location.replace('/mods/{{ id }}')</script>
</head>
<body>
  <p>Redirecting… <a href="/mods/{{ id }}">Click here if not redirected</a></p>
</body>
</html>
